/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  background: white;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 10%;
  padding: 1vw;
  font-size: 1rem;
  color: black;
}

nav a:link {
  text-decoration: none;
  color: black;
}

nav a:visited {
  text-decoration: none;
  color: rgb(0, 140, 255);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

p {
  text-align: center;
}

.goal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.crimeList {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-left: 20rem;
  width: 25rem;
}
