/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: white;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}

/* nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  width: 100%;
  padding: 10px;
} */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw;
  width: 100vw;
}

main h1 {
  /* font-family: 'Shrikhand', cursive; */
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  font-weight: bold;
  font-size: 6vw;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

main h2 {
  font-family: 'Josefin Sans', sans-serif;
}

nav {
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    0.25turn,
    #eac231,
    #e8cc68,
    #929e3c,
    #647f3f,
    #233f14
  );
  display: flex;
  height: 3vw;
  width: 100vw;
  padding: 1vw;
  font-size: 1.25vw;
  color: white;
}

.nav1 {
  display: flex;
  width: 33%;
  padding-left: 2vw;
}

.nav2 {
  display: flex;
  justify-content: space-evenly;
  width: 66%;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  width: 100vw;
}

.allHeader {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 3vw;
  font-size: 1.75vw;
}

.allHeader h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3vw;
  color: #47631f;
  text-align: center;
}

/* form */

.formBody {
  display: flex;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1vw;
  height: 35vw;
  width: 60vw;
  font-size: 1.25vw;
}

label {
  margin: 1vw;
}

input {
  margin: 1vw;
  width: 20vw;
}

.input {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.desc {
  height: 15vw;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2vw;
}

.mainPage div {
  display: flex;
  flex-direction: column;
}

.cardHouse {
  display: flex;
  align-content: center;
  width: 80vw;
}

.card-group {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.card-group .card {
  margin-top: 1vw;
  margin-bottom: 1vw;
  border: 1px solid black;
}

.card-group .card + .card {
  /* margin-left: 1vw; */
  border-left: 1px solid black;
}
.card-img-top {
  width: 100%;
}

/* 
@include media-breakpoint-up(sm) {
  > .card {
    flex: none;
  }
} */

.carousel {
  margin: 2vw;
  width: 50vw;
}

.carouselContainer {
  display: flex;
  justify-content: center;
}
